.icon-card {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EBEBE4;
    box-shadow: 0 1px 3px #0000001a, 0 1px 2px #0000000f;
    border: 2px solid transparent;
    width: 90%;
    border-radius: 6%;
    
}
.icon-card:hover{
    cursor: pointer;
    border: 1px solid blue;
    z-index: 500;
    background: white;
    color: blue;

}
.icon-name {
    margin-top: 0.5rem;
    font-size: 1em;
    overflow: hidden;
    user-select: all;
    white-space: nowrap;
    padding-right: 35px;
}