.destination-icon-card {
    height: 60px !important;
    align-items: center;
    justify-content: center;
    width: 40%;
    border-radius: 6%;
    margin: 10px;
    
}
/* .icon-card:hover{
    cursor: pointer;
    border: 1px solid blue;
    z-index: 500;
    background: white;
    color: blue;

} */
.active {
    cursor: pointer;
    border: 1px solid blue;
    z-index: 500;
    background: white;
    color: blue;
}
.icon-name {
    margin-top: 0.5rem;
    font-size: 1em;
    overflow: hidden;
    user-select: all;
    white-space: nowrap;
    padding-right: 35px;
}